:root {
    --background: #0b0c10;

    --text-color: #e4f0f1;
    --text-color-2: #000;
    --border-color: #c5c6c7;

    --frame-border-color: #1a2368;
    
    --secondary-button: #1f2833;
    --secondary-button-emphasized: #6d8eb7;
    
    --primary-button: #66fcf1; /* unused for now */
    --table-row-selected: #1f2833;
    --frame-hovered: #c5c6c7;
    --frame-selected: #556e8c;
}

.light-mode {
    --background: #b1c1ff;

    --text-color: #000;
    --text-color-2: #2d2d2d;
    --border-color: #1c2229;

    --frame-border-color: #2b3aad;
    
    --secondary-button: #446083;
    --secondary-button-emphasized: #98c6ff;
    
    --primary-button: #57b5da; /* unused for now */
    --table-row-selected: #252b6a;
    --frame-hovered: #31363c;
    --frame-selected: #004293;
}

body {
    background-color: var(--background);
    color: var(--text-color);
}

button {
    border-radius: 5px;
    background-color: var(--secondary-button);
    color: var(--text-color);
}

button:enabled:active {
    color: #0b0c10;
}

div {
    background-color: var(--background);
    color: var(--text-color);
}